body {
	background: #FFF;
	font-family: "Segoe UI", "San Francisco", Helvetica, sans-serif;
	color: #333;
	font-size: 14px;
}

.controls {
	position: absolute;
	left: 0;
	top: 0;

	padding: 10px;
	box-sizing: border-box;
	z-index: 5;
}

.example > div {
	display: flex;
}

.preview {
	position: relative;
	flex: 0 0 800px;
	min-height: 600px;
}

.preview canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 600px;
}

.code {
	display: block;
	white-space: pre;
	font-family: monospace;
	flex: 1 1 auto;
	tab-size: 2ch;
	margin-left: -10ch;
}
